[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "reveal.js-plugin-spotlight"]
	path = reveal.js-plugin-spotlight
	url = https://github.com/denniskniep/reveal.js-plugin-spotlight.git
